@import "hacks/ie";

// The Modern Approach --
// Details: http://www.quirksmode.org/css/clearing.html
//
@mixin clearfix {
  @include has-layout;
  overflow: hidden;
}

// The Old Voodoo --
// Details: http://www.positioniseverything.net/easyclearing.html
//
// A the cost of a bit more complicated CSS it allows you to have
// positioned elements hanging out of the container.
//
// Improved w/ ideas from j.mp/bestclearfix
//
@mixin pie-clearfix {
  @include has-layout;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0 !important;
    visibility: hidden;
  }

  &:after { clear: both; }
}
