@import "hacks/ie";

// Cross-browser inline block support
@mixin display-inline-block {
  @include has-layout;

  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
}

@mixin display-none {
  display: none;
}

@mixin display-block {
  display: block;
}

@mixin hide {
  @include display-none;
}

@mixin show {
  @include display-block;
}
