@import "hacks/ie";

@mixin display-inline {
  display: inline;
}

// Cross-browser inline block support
@mixin display-inline-block {
  @include has-layout;
  @include display-inline;

  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
}

@mixin display-none {
  display: none;
}

@mixin display-block {
  display: block;
}

@mixin display-table-cell {
  display: table-cell;
}

@mixin hide {
  @include display-none;
}

@mixin show {
  @include display-block;
}
