// Float mixin w/ fix for IE5/6's double-margin bug
// Details: http://www.positioniseverything.net/explorer/doubled-margin.html
//
@mixin float($side: left) {
  display: inline;
  float: unquote($side);
}

@mixin float-left  { @include float(left);  }
@mixin float-right { @include float(right); }
@mixin float-none  { float: none; }

@mixin clear-both  { clear: both; }
@mixin clear       { @include clear-both; }
@mixin clear-none  { clear: none; }

@mixin clear-left  { clear: left; }
@mixin clear-right { clear: right; }
