@mixin hide-text {
  text-indent: -9999em;
  text-align: left;
  overflow: hidden;
}

// Adds a shadow to the text --
// Every browser supporting text-shadow also supports rgba(),
// so there's no need for manually picking the shadow color:
// Just let it blend with the background color.
//
@mixin text-shadow($color: rgba(0,0,0,0.33), $offset-x: 1px, $offset-y: 1px, $blur-radius: 1px) {
  text-shadow: $color $offset-x $offset-y $blur-radius;
}

// www.aestheticallyloyal.com/public/optimize-legibility/
//
// Improved handling of kerning pairs and ligatures in modern browsers
// using the text-rendering: optimizeLegibility; declaration.
//
// The declaration is currently supported by:
// Safari 5, The Webkit Nightlies & Chrome.
//
// Firefox already uses optimizeLegibility by default for text sizes above 20px.
//
@mixin text-optimize-legibility {
  text-rendering: optimizeLegibility;
}

// maxvoltar.com/archive/-webkit-font-smoothing
@mixin text-font-smoothing-for-webkit {
  -webkit-font-smoothing: antialiased;
}

@mixin text-bold {
  font-weight: bold;
}

@mixin text-normal {
  font-weight: normal;
  font-style: normal;
}

@mixin text-italic {
  font-style: italic;
}

@mixin text-caps($letter-spacing = false) {
  font-variant: small-caps;
  @if $letter-spacing { letter-spacing: $letter-spacing; }
}

@mixin text-center {
  text-align: center;
}

@mixin text-left {
  text-align: left;
}

@mixin text-right {
  text-align: right;
}

@mixin text-justify {
  text-align: justify;
}

@mixin text-lowercase {
  text-transform: lowercase;
}

@mixin text-uppercase {
  text-transform: uppercase;
}

@mixin text-shadow($offset-x = 1px, $offset-y = 1px, $blur-radius = 1px, $color = #000) {
  text-shadow: $offset-x $offset-y $blur-radius $color;
}

@mixin text-emboss($bottom-color = #fff, $top-color = #000) {
  text-shadow: $bottom-color 0 1px 0px, $top-color 0 -1px 0;
}
